<configuration status="WARN" monitorInterval="500">
    <!--定义日志储存文件目录-->

    <appenders>
        <!--控制台输出所有日志-->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{DEFAULT}][%-5level][%logger{36}]&gt;&gt;&gt;%msg%n"/>
        </Console>

        <RollingRandomAccessFile name="contract" fileName="./logs/Serv/contract.log"
                                 filePattern="logs/Serv/contract-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="[%d{DEFAULT}][%-5level][%logger{36}]&gt;&gt;&gt;%msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="anjian" fileName="./logs/Serv/anjian.log"
                                 filePattern="logs/Serv/anjian-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="[%d{DEFAULT}][%-5level][%logger{36}]&gt;&gt;&gt;%msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="megapolis" fileName="./logs/Serv/megapolis.log"
                                 filePattern="logs/Serv/megapolis-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="[%d{DEFAULT}][%-5level][%logger{36}]&gt;&gt;&gt;%msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="common" fileName="./logs/Serv/common.log"
                                 filePattern="logs/Serv/common-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="[%d{DEFAULT}][%-5level][%logger{36}]&gt;&gt;&gt;%msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="control" fileName="./logs/Serv/control.log"
                                 filePattern="logs/Serv/control-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="[%d{DEFAULT}][%-5level][%logger{36}]&gt;&gt;&gt;%msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="local" fileName="./logs/Serv/local.log"
                                 filePattern="logs/Serv/local-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="[%d{DEFAULT}][%-5level][%logger{36}]&gt;&gt;&gt;%msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingRandomAccessFile>

    </appenders>

    <loggers>
        <root level="debug">
            <appender-ref ref="Console"/>
        </root>
        <logger name="contract" level="info" additivity="false">
            <appender-ref ref="contract"/>
        </logger>
        <logger name="anjian" level="info" additivity="false">
            <appender-ref ref="anjian"/>
        </logger>
        <logger name="megapolis" level="info" additivity="false">
            <appender-ref ref="megapolis"/>
        </logger>
        <logger name="common" level="info" additivity="false">
            <appender-ref ref="common"/>
        </logger>
        <logger name="control" level="info" additivity="false">
            <appender-ref ref="control"/>
        </logger>
        <logger name="local" level="info" additivity="false">
            <appender-ref ref="local"/>
        </logger>

    </loggers>
</configuration>